@tailwind utilities;
@import "tailwindcss";

:root {
  --primary: #53DDFC;
  --linear-from: #BA9EFF;
  --linear-to: #8455EF;
}

body {
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
}

/* .glass {
  @apply bg-white/10 backdrop-blur-lg border border-white/20 shadow-lg rounded-xl;
} */
 .background{
    background: radial-gradient(circle at 50% 50%, #192540, #060E20);
 }
.glass-card{
  background-color: rgba(123, 109, 165, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 20px;
}
.btn{
  @apply bg-gradient-to-r from-[#BA9EFF] to-[#8455EF] rounded-2xl text-white font-semibold py-2 px-4 transition-transform duration-300 ease-in-out hover:scale-105;
}